*{
  font-family: montserrat !important;
  border:0 !important;
}
#root{
  background-position-x: center !important;
  background-size: cover !important;
  overflow-x: hidden;
}

.homeCont{
  margin: 0% 15% !important;
}
#farmsCont{
  margin-left: 5% !important;
}
nav{
  transition: 0.4s !important;
  background: transparent;
  position: absolute;
}
.nav-links{
    color: whitesmoke;
    font-size: 20pt;
  }
  .header-grid{
width: 50%;
display: grid;
text-align: left;
align-items: center;
grid-template-columns: 16% 16% 16% 16% 16% 16%;
  }
  .farmsSecond{
    font-family:kanit !important;
    font-weight:100 !important;
    font-size: 24pt !important;
  }
  .price{
    position: absolute;
    top: 110px;
    left:10px;
    padding: 8px;
    border: 2px solid white !important;
    border-radius: 25px;
    background-repeat: no-repeat;
    }
    .price img{
      display: none !important;
    }

  .price div{
    color: white;
    font-size: 20pt;
  }
  .socialL{
    bottom: 30px;
    right: 30px;
    position: fixed;
  }
  .socialL div svg,.socialL a svg{
    fill: white;
    width: 40px;
  }
 
  .floIMe{
    top:2px !important;
  }
  .TopPage{
    width:100% !important;
   }
   .buyGlenty{
    padding: 40px;
   }
  @media only screen and (min-width:901px){
    .fixedFooter{display: none !important;
    }
    .blockFirstBox div:nth-child(1){
      font-size: 38pt !important;
    }
    .blockFirstBox div:nth-child(2),.secondBlock div:nth-child(3){
      font-size: 14pt !important;
      font-family: "kanit";
      font-weight: 200;
    }
    .slides{
      margin-left: -140px;
      margin-right: 140px;
      margin-top: 100px;
    }
    tr td:first-child div,tr td:first-child { border-top-left-radius: 20px; }
tr td:last-child div,tr td:last-child { border-top-right-radius: 20px; }
tr td:first-child div,tr td:first-child { border-bottom-left-radius: 20px; }
tr td:last-child div,tr td:last-child { border-bottom-right-radius: 20px; }
    html{
      zoom:67%;
    }
    .mobileTop100{
      display: none;
    }
    .top100module{
    display: grid;
    grid-template-columns: 20% 40% 30% !important;
    width: 70% !important;
    grid-gap: 10% !important;
    margin: 2% auto !important;
    }
    .TopPage{
      padding-top: 20% !important;
    }
    @media only screen and (max-width:1450px){
      .nav-links{
        font-size: 17pt;
      }
    }
    @media only screen and (max-width:1500px){
      .homeCont{
        margin: 0% 12% !important;
      }}
    @media only screen and (max-width:1400px){
      .homeCont{
        margin: 10% !important;
      }
      #farmsCont{
        margin-left: 5% !important;
      }
      @media only screen and (min-width:900px){
        .TopPage{
          padding-top: 15% !important;
        }
      }
    }
    @media only screen and (max-width:1450px){
      .Topgrid{
        margin-top: 0 !important;
      }
      .TopPage{
        padding-top: 10% !important;
      }
    }
    @media only screen and (max-width:1300px){
      .homeCont{
        margin: 0% 7% !important;
      }
      .TopPage{
        padding-top: 15% !important;
      }
    }
      @media only screen and (max-width:1250px){
        .homeCont{
          margin: 0% 6% !important;
        }}
        @media only screen and (max-width:1200px){
          .homeCont{
            margin: 0% 3% !important;
          }}
          @media only screen and (max-width:1150px){
            .homeCont{
              margin: 0% 1% !important;
            }}
           
  }
  @media only screen and (max-width:865px){
    .homeCont{
      margin: 5% 15% !important;
    }}
 
  /*mobile*/
  
  .fixedFooter{
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: url('./images/menu.svg');
    height: 100px;
    bottom: -21px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footerLinks{
    display: block;
    text-align: center;
    transition: 0.4s;
  }
  .footerImg{
    height: 25px;
    width: 25px;
    margin: 15% 0% 10% 0%;
    transition: 0.4s;
  }
  .footerLinks:hover{
    filter:brightness(200%);
  }
  
  @media only screen and (min-width:500px){
    .footerImg{  
      margin: 8% 0% 8% 0%;
    }
    
  }
  .footerLinks p{
    font-size: 10pt;
    font-weight: bold;
    color: #989fac;
  }
  .mobile-container{
    width: 140%;
    margin: 0 -9%;
  }
  @media only screen and (max-width:900px){
    div[role=presentation],div[title=Bunny]{
      display: none !important;
    }
    .farmname{
      text-align: left !important;
      font-size: 8pt !important;
    }
   
    .farmsTable tr:nth-child(1) .earnedFarm:nth-child(1){
      border-top-left-radius: 30px;
    }
    .farmsTable tr:nth-child(1), .farmsTable tr:nth-child(1) .detailsFarm{
      border-top-right-radius: 30px;
    }
    .farmsTable tr:last-child .earnedFarm:nth-child(1){
      border-bottom-left-radius: 30px;
    }
    .farmsTable tr:last-child, .farmsTable tr:last-child .detailsFarm{
      border-bottom-right-radius: 30px;
    }
    .buyGlenty{
      padding: 24px;
     }
    .gigapoolheader{
      font-size: 45pt;
    }
    .top100module{
      display: grid;
      grid-template-columns: 50% 50% !important;
      width: 100% !important;
      grid-gap: 0 !important;
    }
    .top100page{
      width: 100% !important;
    }
  }
  .moreMenu{
    position: fixed;
    width: 100%;
    background: url('./images/menu.svg');
    bottom: 75px;
    display: none;
    grid-template-columns: 100%;
    color: #989fac;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    background-size: cover;
  }
  .moreLinks{
    display: grid;
    grid-template-columns: 15% 35%;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid #989fac !important;
    transition: 0.4s;
  }
  .moreLinks p{
    display: inline-block;
    line-height: 1.75;
  }
  .moreLinks img{
    display: inline-block;
    margin: 0;
  }
  .activeFooter,.moreLinks:hover{
    filter:brightness(200%);
  }
  @media only screen and (max-width:900px) {
    .tableChild{
  padding-top: 10% !important;
}
nav{
  position: absolute !important;
}
.slick-arrow{
  display: none !important;
}
.blockFirstBox div:nth-child(1){
  font-size: 20pt !important;
}
.textBoxHome{
  font-size: 12pt !important;
}
.top100moduleHome{
  display: grid;
  grid-template-columns: 50% 50% !important;
  width: 100% !important;
  grid-gap: 0 !important;
  }
.deskTop100{
  display: none;
}
    .coin{
      margin-right: -25%;
    }
    .coinTop{
      margin-top: 5%;
    }
    .buttonUN{
      font-size: 16pt;
    }
   .tableH1{
     margin-top: -4%;
   }
   .table{
     margin-bottom: 150px;
   }
   .price,.socialL,.header-grid,.homeh1,#secondText,.removeonphone{
     display: none !important;
   }
   #root{
     background: url("./images/backgroundMobile.svg");
     background-position-x: center !important;
     background-size: cover !important;
   }
   .mobile-container{
     grid-template-columns: 0% !important;
     margin: 0 -20%;
   }
   .Topgrid{
     margin-top: 5% !important;
   }
   .TopPage{
     margin: auto !important;
   }
   .buytitle{
     font-size: 18pt !important;
     text-align: left !important;
   }
  }

  .Topgrid{
    width: 100%;
     display:grid;
     grid-template-columns:100%;
      grid-gap:5%;
      margin-top:-30%;
  }
.GigapoolCon img{
  height: 60px;
    width: 60px;
    background: white;
    border-radius: 50%;
    padding: 10px;
}
.coinG{
  display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: -1%;
    padding: 5% 3%;
    border-radius: 20px;
    background-color: rgb(40, 13, 95);
    width: 127%;
}
.coinG div{
  padding-top: 25%;
  color: white;
  font-size: small;
}
.coinO{
  display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: -1%;
    padding: 5% 3%;
    border-radius: 20px;
    width: 127%;
    background-color: rgb(40, 13, 95);
}
.coinO div{
  padding-top: 10%;
  color: white;
  font-size: small;
}
.coinG div span,.coinO div span{
  font-size: medium;
}
.coinO div:first-of-type,.coinG div:first-of-type{
  font-size: medium;
  text-align: left;
}
.search{
    border: 0;
    margin-bottom: 5%;
    width: 40%;
    border-radius: 30px;
    padding: 1%;
}
table { border-collapse: separate; }
tr{
  background: #280D5F;
}
td { border: solid 1px #280D5F; }


.tableChild{
  display:grid;
  grid-template-columns:45% 30% 20%;
  background-color:#030e33;
  padding-top:5%;
  padding-bottom: 5%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.coinTop100{
  padding-left:3%;
  color:white;
  font-size:20pt;
  margin-top:15px;
  font-weight:lighter;
  display:grid;
  grid-template-columns:10% 10% 10% 20%;
}
.tableImg{
  height:40px;
  margin:-10% 1px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
.info{
  color:white;
  margin-top:15px;
  font-size:20pt;
  font-weight:lighter;
}
.infoCenter{
  color:white;
  margin-top:15px;
  font-size:20pt;
  text-align:center;
  font-weight:lighter;
}
.coinTop100Container{
  display:grid;
  grid-template-columns:45% 28% 27%;
  background-color:rgba(49, 39, 131, 0.9);
  border-bottom: 3px solid #768afd !important;
  padding: 15px 0px;
}
#price{
  font-size: 14pt;
  color: white;
  margin: 10px auto;
}
.table{
  display:grid;
  margin-top:30px;
}
@media only screen and (max-width:600px){
  .tableChild{
    grid-template-columns: 45% 30% 25%;
  }
  .coinTop100Container{
    grid-template-columns: 47% 25% 25%;
  }
  .tableH6Header{
    font-size: 10pt;
  }
  .coinTop100{
    grid-template-columns: 25% 30% 15% !important;
  }
  .table{
    display:grid;
    margin-top:30px;
  }
  #price{
    font-size: 8pt;
  }
  .tableImg{
    margin: -10% 1px !important;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
  }
  .info,.coinNameTable{
    font-size: 12pt !important;
    text-align: center;
  }
  .infoCenter{
    text-align: right !important;
    font-size: 12pt !important;
  }
  .blockIco{
    margin-top: 5%;
  }
  .logoICO{
    height: 65px !important;
  }
  .phase{
    width: 100% !important;
    padding-top: 15% !important;
    font-size: 8pt !important;
  }
  .whieCubes{
    padding-right: 0px !important;
  }
  .smallP{
    font-size: 8pt !important;
  }
  .iconCoinICO{
    width: 42px !important;
    height: 42px !important;
  }
  #secondText{
    width: 160%;
    margin-top: -45%;
    margin-left: -30%;
  }
  .homeSmall{
    font-size: 16pt !important;
  }
  .homeSmallBig{
    font-size: small !important;
  }
  #loading img{
    margin-left: -30% !important;
    margin-top: 50% !important;
  }
}
#loading{
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  display: block;
  background-color: black;
  z-index: 999999999999;
  text-align: center;
  justify-content: center;
}
#loading img{
  width: 250px;
  height: 250px;
  position: fixed;
  margin-top: 20%;
  margin-left: -8%;
}



button[aria-label='Toggle menu']{
  display: none !important;
}
nav button:last-child{
  background-color: white !important;
  color: black !important;
  font-weight: normal !important;
  letter-spacing: 0.11em !important;
  margin-top: 5px !important;
}
.table{
  background: rgba(49, 39, 131, 0.9) !important;
    border-radius: 20px !important;
}


.buytitle{
  font-size: 24pt;
  text-align: center;
}

.phonePrice{
  padding: 1%;
    color: white;
    border-radius: 25px;
    border: 2px solid white !important;
}
.top100moduleHome{
  display: grid;
  grid-template-columns: 40% 30%;
  width: 70% ;
  grid-gap: 15%;
  margin: 2%;
  }

 .farmsTable tr td div span{
color: white;
  }
  #buypricelite,.textBoxHome{
    font-family:Kanit !important;
  }
  .textBoxHome{
    font-size: 20pt;
  }
  @media only screen and (min-width:1900px){
    .homeCont{
      margin: auto 22% !important;
    }
  }
  .farmsTable tr td div a svg{
    display: none;
  }
  .detailsFarms,.detailsFarms td,.detailsFarms div{
    background-color: rgb(3, 14, 51) !important;
    border-radius: 0 !important;
  }
  .farmsTable tr{
    border-bottom: 2px solid #788cff !important;
  }
  .farmname{
    margin-bottom: 10px;
  }
  .slick-slide img{
    width: 90%;
    margin: auto;
  }
  .homeTitle{
    font-size: 50pt;
    margin: 25px auto;
  }
  .sectionText{
    font-size: 20pt;
    font-family: kanit !important;
    font-weight: 200;
  }
  .audits{
    padding:64px 164px;
  }
  .gridThreeLogos{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    margin: auto;
    margin: 48px auto;
  }
  .gridThreeLogos div{
    margin: auto;
  }
  .gridThreeLogos div img{
    width: 100px;
  }
  @media only screen and (max-width:865px){
    .homeTitle{
      font-size: 38pt !important;
      text-align: center !important;
    }
    .sectionText{
      font-size: 16pt !important;
      text-align: center !important;
    }
    .top100Reorder{
      order:2;
    }
    .audits{
      padding: 0 !important;
    }
  }